<%= form_for(@paragraph_comment) do |f| %>
  <% if @paragraph_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paragraph_comment.errors.count, "error") %> prohibited this paragraph_comment from being saved:</h2>

      <ul>
      <% @paragraph_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paragraph_id %><br />
    <%= f.number_field :paragraph_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
