<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :reading_level %>
    <%= f.select :reading_level, options_for_select(User::READING_LEVELS.collect{|rl| [rl.gsub(/_/,' '), rl]}) %>
  </div>
  <% if @user.id.present? -%>
    <div class="field">
      <%= f.label :credit_cents %>
      <%= f.text_field :credit_cents, :class => 'span1' %> (in cents)
    </div>
  <% end -%>
  <div class="actions">
    <%= f.submit :class => 'btn btn-large btn-success' %>
  </div>
<% end %>
