<% 
  if document_whats_hot.is_a?(Document)
    doc = document_whats_hot
  elsif document_whats_hot.is_a?(Feedback)
    doc = document_whats_hot.document
  end
-%>

<div class="span3 document-div document-block">
  <%= image_tag "book-icon.png", :width => 150, :style => "background-color: #{doc.book_icon_color}" -%>
  <h5><%= doc.title -%></h5>
  <p><%= link_to "About This Document", "#readability_#{doc.id}", :class => "smaller", :style => "padding:3px;", "data-toggle" => "modal" -%></p>
  <% if Volunteer.where(:user_id => current_user.id, :document_id => doc.id).count == 0 -%>
    <%= link_to "Volunteer to Read", volunteers_path(:id => doc.id), :method => :post, :class => "btn btn-large btn-success" -%>
  <% else %>
    <p class="label">You have already volunteered for this one!</p>
  <% end %>
</div>
<%= render :partial => "about_this_document", :locals => {:doc => doc} -%>
