<% 
  if document.is_a?(Document)
    doc = document
  elsif document.is_a?(Feedback)
    doc = document.document
  end
-%>

<div class="span3 document-div document-block">
  <% if current_user == doc.user -%>
    <div class="pull-right" style="margin-top:-25px;margin-right:-20px;"><%= link_to (raw "<i class='icon-remove'></i>"), "/documents/#{doc.id}", :method => :delete, :confirm => "If you delete this document it will also delete all ratings and comments.  Are you sure?", :class => "delete-book-link" -%></div>
  <% end %>
  <h5 class="<%= "gray" if !doc.active? -%>"><%= doc.title -%></h5>
  <% if current_user == doc.user -%>
    <% if doc.active? -%>
      <%= link_to (image_tag "book-icon.png", :width => 150, :style => "background-color: #{doc.book_icon_color || 'white'}"), edit_document_path(:id => doc), :class => "book-icon-link" -%>
    <% else %>
      <%= link_to (image_tag "book-icon-ghost.png", :width => 150, :style => "background-color: white;"), pay_for_document_path(:id => doc), :class => "book-icon-link" -%>
    <% end -%>
  <% else -%>
    <% if doc.active? -%>
      <%= link_to (image_tag "book-icon.png", :width => 150, :style => "background-color: #{doc.book_icon_color || 'white'}"), feedback_path(doc.id) -%>
    <% else %>
      <%= image_tag "book-icon-ghost.png", :width => 150, :style => "background-color: white;" %>
    <% end %>
  <% end -%>
  <p><%= link_to "About This Document", "#readability_#{doc.id}", :class => "smaller", :style => "padding:3px;", "data-toggle" => "modal" -%></p>
  <div class="btn-group">
    <% if doc.user == current_user -%>
      <a href="<%= document_volunteers_path(doc.id) -%>" class="btn btn-mini"><%= doc.volunteers.count -%> <%= "Volunteer".pluralize(doc.volunteers.count) -%></a>
      <a href="<%= document_readers_path(doc.id) -%>" class="btn btn-mini"><i class="icon-group"></i> Readers</a>
    <% elsif document.accepted_by_user.nil? -%>
      <%= link_to (raw "<i class='icon-remove'></i> Decline Invitation</i>"), decline_invitation_path(document.id), :method => :post, :class => "btn btn-mini" -%>
    <% elsif document.accepted_by_user == false -%>
      <p class='btn btn-mini disabled'>DECLINED</p>
    <% end %>
    <a href="<%= feedback_path(doc.id) -%>" class="btn btn-mini"><i class="icon-comments"></i> Feedback</a>
  </div>
</div>

<%= render :partial => "about_this_document", :locals => {:doc => doc} -%>
