<% paragraph = paragraph2 -%>
<% @rating = paragraph.rating_by_user current_user -%>
<div class="row">
  <div class="span5">
    <p class="paragraph" id="paragraph_text_<%= paragraph.id -%>" data-paragraph-text-id="<%= paragraph.id -%>">
      <%= paragraph.text -%>
    </p>
  </div>
  <div class="span2">
    <% if current_user == @document.user -%>
      <div onclick="$('#paragraph_rating_details_<%= paragraph.id -%>').toggle();">
        <span id="paragraph_comment_flag_<%= paragraph.id -%>" class="pull-right" style="margin:3px -26px 0 6px;">
          <% if paragraph.paragraph_comments.where(:writer_flagged => true).count > 0 -%>
            <i class="icon-flag fail"></i>
          <% end %>
        </span>
        <span class="badge pull-right badge-paragraph badge-important" style="margin-right:-10px"><%= paragraph.thumbs_down_ratings -%></span>
        <span class="badge pull-right badge-paragraph badge-success" style="margin-right:5px;"><%= paragraph.thumbs_up_ratings -%></span>
      </div>
      <div class="clear"></div>
    <% end -%>
    <div>
      <p class="pull-left btn-group">
        <%= link_to_function (raw "<i class='icon-thumbs-up'></i> <i class='icon-thumbs-down'></i>"), "$('#criteria_#{paragraph.id}').toggle()", :class => 'btn', :title => "Click here to show rating criteria." -%>
        <% if current_user != @document.user -%>
        <button title="Click here to bookmark your spot." class="btn <%= @feedback.bookmark == paragraph.id ? 'btn-success' : '' -%> bookmark-button" id="bookmark_button_<%= paragraph.id -%>" data-paragraph-id="<%= paragraph.id -%>"><i class="icon-bookmark"></i></button>
        <% end %>
      </p>
      <div class="clearfix"></div>
      <div style="display:none;" id="criteria_<%= paragraph.id -%>">
        <% if current_user != @document.user -%>
          <%= form_for ParagraphRating.new, :html => {:id => "rating_buttons_form_#{paragraph.id}"} do -%>
            <%= render :partial => 'criterium', :collection => @criteria, :locals => {:paragraph => paragraph} -%>
          <% end -%>
        <% else %>
          <div class="span2" style="margin-top:0px;padding:0 0 15px 0;">
            <% @criteria.each do |criterium| %>
              <div class="pull-right" style="margin-top:3px;">
                <span class="badge pull-right badge-paragraph badge-important" style="margin-right:20px;"><%= paragraph.thumbs_down_ratings criterium.criterium -%></span>
                <span class="badge pull-right badge-paragraph badge-success" style="margin-right:5px;"><%= paragraph.thumbs_up_ratings criterium.criterium -%></span>
                <span class="pull-right" style="color:#888;margin-top:3px;margin-right:5px;" title="<%= criterium.description -%>"><%= criterium.criterium.titleize -%></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span4">
    <div id="input_box_<%= paragraph.id -%>">
        <%= form_for ParagraphComment.new, :html => {:id => "comment_form_#{paragraph.id}", :class => "form form-horizontal"} do |f| -%>
          <%= hidden_field_tag "paragraph_comment[paragraph_id]", paragraph.id -%>
          <div class='input-append'>
            <%= f.text_field :comment, :class => "span3", :placeholder => "Leave a comment...", :id => "comments_text_field_#{paragraph.id}" -%>
            <button class="btn comment-button" data-paragraph-id="<%= paragraph.id -%>" data-form-id="comment_form_<%= paragraph.id -%>"><i class="icon-plus"></i></button>
            <%= link_to_function (raw "<i class='icon-comments'></i> <span id='comments_count_#{paragraph.id}'>#{paragraph.get_paragraph_comments( current_user ).size}</span>"), "$('#comments_#{paragraph.id}').toggle()", :id => "comment_toggle_button_#{paragraph.id}", :class => 'btn' -%>
          </div>
        <% end %>
        <div class="span4" id="comments_<%= paragraph.id -%>" style='display:none;'>
          <%= render :partial => 'documents/paragraph_comment', :collection => paragraph.get_paragraph_comments( current_user ) -%>
        </div>
    </div>
  </div>
</div>
