<div class="container">
  <h3>Feedback Setup for <em><%= @document.title -%></em></h3>
  <div class="row">
    <div class="span8 body-block">
      <%= form_tag('/documents/create_feedback', :method => :post) do -%>
        <%= hidden_field_tag :document_id, @document.id -%>
        <div class="input-append">
          <%= text_field_tag :email, nil, :class => 'input span4', :placeholder => 'Enter email address here' -%><button class="btn btn-success">Invite Reader</button>
        </div>
      <% end -%>
      <% if @document.feedbacks.count == 0 -%>
        <p>You have not yet invited anyone to provide feedback.</p>
      <% else %>
        <p><%= @document.feedbacks.where(:accepted_by_user => true).count -%> of <%= @document.feedbacks.count -%> reviewers have accepted.</p>
        <% @document.feedbacks.order(:id).each do |f| -%>
          <div style="padding-top:10px;">
            <div class="pull-left"><i class="icon-user"></i> <%= f.user.full_name.blank? ? f.user.email : f.user.full_name -%></div>
            <div class="rating pull-left">
              &nbsp;&nbsp;
              <% 1.upto(5) do |i| -%>
                <span class="icon-star rating-star <%= (f.reader_rating && f.reader_rating != 0 && f.reader_rating <= i) ? 'rated' : '' -%>" id="star_<%= f.id -%>_<%= i -%>" data-stars="<%= i -%>" data-feedback-id="<%= f.id -%>"></span>
              <% end -%>
            </div>
            <div class="pull-right"><%= link_to "Uninvite", "/feedbacks/#{f.id}", :method => :delete, :class => 'btn btn-mini' -%></div>
          </div>
          <div class="clearfix"></div>
          <div>&nbsp;&nbsp;<small class="url" title="you can share this URL with the invitee"><%= "#{request.protocol}#{request.host}/documents/#{@document.id}/feedback?t=#{f.user.auth_token}" -%></small></div>
        <% end -%>
      <% end %>
    </div>
    <div class="span3 body-block">
      <h4>Recommended Readers</h4>
      <% @document.recommended_readers.each do |rr| -%>
        <hr />
        <h5><%= rr.email -%></h5>
        <p>
          &nbsp;&nbsp;Reading Level: <%= rr.reading_level.titleize -%><br />
          &nbsp;&nbsp;Projects Completed: <%= rr.reading_projects_completed -%><br />
          &nbsp;&nbsp;Average Rating of Reader: <%= rr.average_writer_rating -%><br /><br />
          &nbsp;&nbsp;<%= link_to (raw "<i class='icon-plus-sign'></i> Invite"), "#", :class => 'btn btn-mini' -%>
        </p>
      <% end -%>
    </div>
  </div>
</div>
