<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @document.title %>
    <small>A <%= @document.genre.genre.titleize -%> by <%= @document.user.full_name -%></small>
  </h3>

  <%= link_to 'Back', writing_path %>
</div>
