<h3>Volunteers to read <em><%= @document.title -%></em></h3>
<div class="container">
  <div class="body-block">
    <% if @volunteers.size > 0 -%>
      <table class="table">
        <thead>
          <tr>
            <th>Volunteer</th>
            <th>Projects Completed</th>
            <th>Average Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @volunteers.each do |volunteer| -%>
            <tr>
              <td><i class="icon-user"></i> <%= volunteer.user.email -%></td>
              <td><%= volunteer.user.feedbacks.where(:accepted_by_user => true).count -%></td>
              <td>
                <% stars = volunteer.user.feedbacks.average(:reader_rating) -%>
                <% 1.upto(5) do |i| -%>
                  <span class="icon-star rating-star <%= (stars && i <= stars) ? 'rated' : '' -%>"></span>
                <% end -%>
              </td>
              <td><%= link_to "Invite this user", "#", :class => "btn btn-mini btn-success" -%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no volunteers for this project.</p>
    <% end %>
  </div>
</div>
