<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_expriceation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :words_min, "Minimum Words" %><br />
    <%= f.number_field :words_min %>
  </div>
  <div class="field">
    <%= f.label :words_max, "Maximum Words" %><br />
    <%= f.number_field :words_max %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
