<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @price.name %>
</p>

<p>
  <b>Minimum Words:</b>
  <%= @price.words_min %>
</p>

<p>
  <b>Maximum Words:</b>
  <%= @price.words_max %>
</p>

<p>
  <b>Cost:</b>
  <%= @price.cost %>
</p>

<p>
  <b>Active:</b>
  <%= @price.active %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
