<h1>Plans</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th><p class="centered">Active docs</p></th>
    <th><p class="centered">Readers</p></th>
    <th><p class="centered">Monthly cost</p></th>
    <th><p class="centered">Active</p></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><p><%= plan.name %></p></td>
    <td><p class="centered"><%= plan.active_docs %></p></td>
    <td><p class="centered"><%= plan.readers %></p></td>
    <td><p class="centered"><%= number_to_currency( plan.monthly_cost ) %></p></td>
    <td><p class="centered"><%= plan.active %></p></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', plan, :class => 'btn btn-mini' %>
        <%= link_to 'Edit', edit_plan_path(plan), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plan', new_plan_path %>
