<!DOCTYPE html>
<html>
<head>
  <title>mybetareaders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Kaushan+Script&text=loopt' rel='stylesheet' type='text/css'> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head -%>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= render :partial => "shared/navbar" -%>

<div class="container" style="margin:55px;">

  <%= render "layouts/messages" -%>

  <%= yield %>

</div>

</body>
</html>
