<!DOCTYPE html>
<html>
<head>
  <title>mybetareaders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Kaushan+Script&text=loopt' rel='stylesheet' type='text/css'> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head -%>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-spy="scroll" data-target=".navbar" data-offset="40">

<%= render :partial => "shared/navbar" -%>

  <%= render "layouts/messages" -%>

  <%= yield %>

</body>
</html>
